@import url(https://db.onlinewebfonts.com/c/fb04898d5b14da735b1fdf6e4958d214?family=Helvetica+Neue+LT+Com+37+Thin+Condensed);

.contenta {
  margin-top: 5rem;
  background-color: #f3ede9;
  height: 110vh;
  display: grid;
  grid-template-areas: "descriptionAbout photoAbout";
  grid-template-columns: 2fr 1fr;
  width: 100%;
  margin-right: 2%;
  font-family: "Helvetica Neue LT Com 37 Thin Condensed";
  
}

.img-about {
  grid-area: photoAbout;
  height: 110vh;
}
.about{
    opacity: 0;
    transform: translateX(-100%);
    animation: slideInRight 3s linear forwards;
    animation-delay: 1.6s;
}
.about-abt {
  grid-area: descriptionAbout;
  margin-top: 10rem;
  margin-left: 7rem;
  background-color: #d5d5d5;
  width: 80vh;
  height: 45vh;
  opacity: 0;
  transform: translateX(-100%);
  animation: slideInRight 3s linear forwards;
  animation-delay: 1.6s;
}

.titlea {
  padding-top: 8vh;
  padding-left: 12vh;
  color: #4a4a4a;
}

.descriptiona {
  margin: 3rem 5rem;
  width: 60%;
}

.about-btn {
  margin: 8rem 5rem;
  color: #4a4a4a;
  letter-spacing: 2px;
}

@keyframes slideInRight {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
