/* Home.css */
@import url(https://db.onlinewebfonts.com/c/fb04898d5b14da735b1fdf6e4958d214?family=Helvetica+Neue+LT+Com+37+Thin+Condensed);
@keyframes slideFromTop {
    from {
      margin-top: -100vh; 
    }
    to {
      margin-top: 35vh; 
    }
  }
  @keyframes slideFromRight {
    from {
      transform: translateX(100%); 
    }
    to {
      transform: translateX(0); 
    }
  }
.content {
    display: grid;
    grid-template-areas: "photo description";
    grid-template-columns: 3fr 2fr;
    width: 90%;
    margin-right: 2%;
    animation: slideleft 1s linear forwards;

  }

  .img-home {
    grid-area: photo; 
    background-color: #c6c1c1;
    height:110vh;
    width: 150vh;
  }
  .img-link {
    margin-top: 8%;
    margin-left: -40%;
    width: 200vh; /* Set the desired width */
    height: 110vh; /* Maintain aspect ratio */
  }
  .home-abt {
    grid-area: description;
  }
  .home{
    background-color: #f3ede9;
    margin-top: 40vh;
    margin-left: -70vh;
    font-family: "Helvetica Neue LT Com 37 Thin Condensed";
    color: #4A4A4A;
    height: 50vh;
    width:105vh;
    position:relative;
    overflow: hidden; 
  }
  .home em {
    text-align: center; 
    display: block; 
    margin: 2rem auto 2rem 3rem;
  }
  .home h1{
    align-items: center;
    color:#4A4A4A;
    padding-top: 8%;
    letter-spacing: 4px;
    margin: 1rem 4rem;  
  }
  .motus{
    font-family: "Helvetica Neue LT Com 37 Thin Condensed";;
    color:#8F7B6A;
    font-size: 16px;
    letter-spacing: 4px;
    margin: 1rem 4rem;   
  }
  .home-btn{
    margin: 0.5rem 4rem;
    color:#4A4A4A;
    letter-spacing: 2px;
  }
  .description{ 
    margin: 1rem 4rem;   
    margin-bottom: 5%; 
  }
  .home h1,
.home h2,
.home p,
.home a{
  animation: slideFromRight 4s ease-out forwards; /* Apply the animation to individual elements */

}