@import url(https://db.onlinewebfonts.com/c/fb04898d5b14da735b1fdf6e4958d214?family=Helvetica+Neue+LT+Com+37+Thin+Condensed);


.contenta {
  margin-top: 5rem;
  background-color: #f3ede9;
  height: 110vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-right: 2%;
  font-family: "Helvetica Neue LT Com 37 Thin Condensed";
}
.img-about {
  display: flex;
  height: 110vh;
  position: relative;
  order: 1;
}
.img-link-abt{
  margin-top: 35%;
  height:80vh;
  width: 60vh;
}
.about{
    opacity: 0;
    transform: translateX(-100%);
    animation: slideInRight 3s linear forwards;
    animation-delay: 1.6s;
}
.about-abt {
  display: flex;
  margin-top: 10rem;
  margin-left: 7rem;
  background-color: #d5d5d5;
  width: 80vh;
  height: 45vh;
  opacity: 0;
  transform: translateX(-100%);
  animation: slideInRight 3s linear forwards;
  animation-delay: 1.6s;
}

.titlea {
  padding-top: 8vh;
  padding-left: 12vh;
  color: #4a4a4a;
}

.descriptiona {
  margin: 3rem 5rem;
  width: 60%;
}

.about-btn {
  margin: 0rem 5rem;
  color: #4a4a4a;
  letter-spacing: 2px;
  text-decoration: none;
  background: none;
  border: none;
  font: inherit;
  cursor: pointer;
  border-bottom: 1px solid #4a4a4a; 
}

.about-btn:hover {
  border-bottom: 2px solid #4a4a4a; 
}

@keyframes slideInRight {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@media screen and (max-width: 1200px) {
  .img-link-abt{
    margin-left: -25%;
  }
}
@media screen and (max-width: 1078px) {
  .contenta {
    height: 90vh;
  }
  .img-link-abt{
    margin-top: 70%;
    margin-left: 0%;
    height:65vh;
    width: 40vh;
  }
  .about-abt {
    margin-top: 10%;
    font-size: 14px;
  }
}
@media screen and (max-width: 840px) {
  .contenta {
    height: 90vh;
  }
  .about-abt {
    margin-left: 2rem;
  }
  
}
@media screen and (max-width: 770px) {
  .contenta {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    align-items: center;
    margin-top: 30%;
  }
  .img-about {
    margin-top: 5%;
    display: flex;
    height: 110vh;
    position: relative;
   
  }
  .img-link-abt{
    display: flex;
    align-items: center;
    margin-top: 2vh;
    margin-bottom: 10%;
    margin-left: auto;
    height:30vh;
    width: 20vh;
  }

  .about-abt {
    width: 70%;
    height: 30vh;
    margin-bottom: 15%;
    order: 1;
  } 
  .titlea {
    padding-top: 2vh;
    padding-left: 10.5vh;
  }
  
  .descriptiona {
    margin-top:3%;
  }
  

}
@media screen and (max-width: 570px) {
  .contenta {
    height: 80vh;
  }
  .about-abt {
    margin-top: 10%;
    height: 40vh;
  }
  .titlea {
    padding-left: 6vh;
  }
  .descriptiona {
    margin-left: 6vh;
  }
  .about-btn {
    margin-left: 6vh;
  }
}
