   /* Navbar.css */
   @import url(https://db.onlinewebfonts.com/c/fb04898d5b14da735b1fdf6e4958d214?family=Helvetica+Neue+LT+Com+37+Thin+Condensed);

    .Nav {
        margin-top: 0;
        height:15vh;
        width: 100%;
        display: flex;
        flex-direction: row;
        font-family: "Helvetica Neue LT Com 37 Thin Condensed";
        font-weight:lighter;
        background-color: #f3ede9;
    }

    ul {
        font-weight:lighter; 
        font-size: 16px;
        list-style-type: none;
        width:100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 0;
        border:none;
    
    }

    li {
        width:1rem;
        margin-right: 30rem;
        margin-left: 2rem;
        align-items: center;
        font-weight: lighter; 
    }

    .Nav li {
        margin-right: 30rem;
        font-weight: lighter; 
        width:400rem;
        letter-spacing: 6px;
        text-align: center;
        color: #4a4a4a;
    }

    .Nav li span {
        font-size: 14px;
    }

   
    .Option-Nav {
        width:100%;
        margin: 0px 30px;
        border:none;
        background-color: inherit;
        color:#8F7B6A;
        border-top: 1px solid #8F7B6A; /* Top border for the buttons */
        padding-top: 1rem;
        margin-top: -1rem;
        transition: border-top-width 0.3s ease; 
    }
    
    .Option-Nav:hover,
    .Option-Nav:active {
        border-top-width: 3px; 
    
    }