.contentf {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 11vh;
    padding-left:10rem;
    font-family: "Helvetica Neue LT Com 37 Thin Condensed";
    background-color: #D5D5D5; 
    color: white;
    letter-spacing: 2px;
}
.descriptionf{
 font-size: small;
}
.rounded-social-buttons {
    display: flex;
    padding-right: 12rem;
}

.social-button-Github svg,
.social-button-linkedin svg {
    color: white;
}
.social-button-linkedin {
    margin-right: 4rem;
    font-size: 30px; 
  }
.social-button-Github {
    margin-right: 3rem;
    font-size: 30px; 
  }
  
  @media screen and (max-width: 840px) {
    .contentf {
        padding-left:5rem;
  }
  .rounded-social-buttons {
    padding-right: 8rem;
}
}

@media screen and (max-width: 770px) {
    .contentf {
        padding-left:3rem;
  }
  .rounded-social-buttons {
    padding-right: 6rem;
}
}
@media screen and (max-width: 770px) {
    .contentf {
        padding-left:1.5rem;
  }
  .rounded-social-buttons {
    padding-right: 2rem;
}
}
@media screen and (max-width: 460px) {
    .contentf {
        padding-left:1rem;
  }
  .descriptionf{
    width:40%;
    text-align: center;
   }
  .rounded-social-buttons {
    padding-right: 0rem;
}
}

