/* Home.css */
@import url(https://db.onlinewebfonts.com/c/fb04898d5b14da735b1fdf6e4958d214?family=Helvetica+Neue+LT+Com+37+Thin+Condensed);
@keyframes slideFromTop {
    from {
      margin-top: -100vh; 
    }
    to {
      margin-top: 35vh; 
    }
  }
  @keyframes slideFromRight {
    from {
      transform: translateX(100%); 
    }
    to {
      transform: translateX(0); 
    }
  }
.content {
    display: grid;
    grid-template-areas: "photo description";
    grid-template-columns: 3fr 0fr;
    width: 90%;
    margin-right: 2%;
    animation: slideleft 1s linear forwards;
  }

  .img-home {
    grid-area: photo; 
    background-color: #c6c1c1;
    height:110vh;
    width: 110vh;
  }
  .img-link {
    margin-top: 6%;
    margin-left: -40%;
    width: 170vh; 
    height: 100vh; 
  }

  .home{
    grid-area: description;
    background-color: #f3ede9;
    margin-top: 35vh;
    margin-left: -40vh;
    font-family: "Helvetica Neue LT Com 37 Thin Condensed";
    color: #4A4A4A;
    height: 55vh;
    width:90vh;
    position:relative;
    overflow: hidden; 
  }
  .home em {
    text-align: center; 
    display: block; 
    margin: 2rem auto 2rem 3rem;
  }
  .home h1{
    align-items: center;
    color:#4A4A4A;
    padding-top: 6%;
    letter-spacing: 4px;
    margin: 1rem 4rem;  
  }
  .motus{
    font-family: "Helvetica Neue LT Com 37 Thin Condensed";;
    color:#8F7B6A;
    font-size: 16px;
    letter-spacing: 4px;
    margin: 1rem 4rem;   
  }
  .home-btn{
    margin: 0.5rem 4rem;
    color:#4A4A4A;
    letter-spacing: 2px;
  }
  .description{ 
    margin: 1rem 4rem;   
    margin-bottom: 5%; 
  }
  .home h1,
.home h2,
.home p,
.home a{
  animation: slideFromRight 4s ease-out forwards; 
}
@media screen and (max-width: 1240px) {
.home{
 width:80vh;
}
}

@media screen and (max-width: 1151px) {

  .img-home {
    height:75vh;
    width: 100vh;
  }
  .img-link {
    margin-top: 4%;
    margin-left: -35%;
    width: 120vh; 
    height: 70vh; 
  } 
  .home{
    margin-top: 35%;
    margin-left: -85%;
    height: 40vh;
    width:50vh;
  }
  .home h1{
    padding-top:2%;
  }
  .home em {
    text-align: center; 
    display: block; 
    margin: 1rem auto 1rem 2rem;
  }
  .description{ 
    margin: 0rem 4rem;   
    margin-bottom: 3%; 
  }
}
@media screen and (max-width: 1078px) {
  .home{
    margin-top: 35%;
    margin-left: -90%;

  }
}
@media screen and (max-width: 1040px) {
  .img-home {
    height:70vh;
    width: 90vh;
  }
  .img-link {
    margin-top: 12%;
    margin-left: -30%;
    width: 100vh; 
    height: 60vh; 
  }
  .home{
    margin-top: 45%;
    margin-left: -95%;
    height: 33vh;
    width:48vh;
  }
  .home h1{
    font-size: 18px;
  }
  .home em {
    margin: 1rem auto 0rem 1rem;
    font-size: 14px;
  }
  .description{ 
    font-size: 12px;
  }
  .home a{
    font-size: 12px;
  }
}
@media screen and (max-width: 940px) {
  .img-home {
    height:70vh;
    width: 80vh;
  }
  .img-link {
    margin-top: 15%;
    margin-left: -25%;
    width: 80vh; 
    height: 50vh; 
  }
  .home{
    margin-top: 48%;
    margin-left: -95%;
    height:33vh ;
    width:45vh;
  }
  .home h1{
    margin-top: 0%;
    margin-left:6%;
  }
  .home em{
    margin-left:6%;
  }
  .motus {
    margin-left:6%;
  }
  .description{
    margin-left:6%;
  }
  .home a{
    margin-left:6%;
  }
}
@media screen and (max-width: 840px) {
  .img-home {
    width: 75vh;
    height:80vh;
  }
  .img-link {
    margin-top: 10%;
    margin-left: -30%;
  }
  .home{
    margin-top: 40%;
    margin-left: -98%;

  }
}
@media screen and (max-width: 770px) {
  
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
 .img-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10%;
    height:75vh;
    max-width: 98%;
  }  
  .img-link {
    margin-top: 0%;
    margin-left: 0%;
    width: 60vh; 
    height: 40vh; 

  }
  .home{
    margin-top: -60%;
    margin-left: 40%;
    margin-right: 30%;
    height: 25vh;
    width:45vh;
  }
  .about{
    margin-bottom:5%;
  }
}
@media screen and (max-width: 570px) {

.img-home {
  margin-top: 20%;
  width: 45vh;
  height: 80vh;

}
.home{
  height: 30vh;
  width: 35vh;
  margin-top:-90%;
  margin-left: 35%;
  margin-right:25%;
}
.home h1{
  margin-top: 2%;

}
}